/* Coupons */
.coupon-list-container {
  font-family: Arial, sans-serif;
  padding: 10px;
}
/* Coupons */

/* CategoryContainer */
.categoty-container {
  overflow-x: auto;
  /* 좌우 스크롤 가능하도록 설정 */
}

.categoty-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-button {
  height: auto;
  background-color: #ffffff;
  min-width: 40px;
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 10px;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
/* CategoryContainer */

/* CouponSearch */
.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.filter-dropdown,
.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* CouponSearch */

/* CouponContainer */
.coupon-container {
  overflow-y: auto;
  height: 95vw;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* 좌우 스크롤 가능하도록 설정 */
}
/* CouponContainer */

/* CouponBox */
.coupon-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.coupon-image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}

.overlay {
  position: absolute; 
  background-color: rgba(80, 80, 80, 0.7); /* 회색 반투명 배경 */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.coupon-info {
  flex-grow: 1;
  margin-left: 10px;
}

.coupon-info h3 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.coupon-info p {
  margin: 2px 0;
  font-size: 14px;
  color: #555;
}

.days-left {
  background-color: #FFD700;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 12px;
}

.coupon-used {
  background-color: #ff0000;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
}

.delete-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: red;
}
/* CouponBox */

/* CouponsTail */
.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
}

.register-button,
.shared-room {
  background-color: #FFD700;
  border: none;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
  width: 120px;
}
/* CouponsTail */

/* CategoryBox */
.category-button {
  height: auto;
  background-color: #ffffff;
  border: 1px solid #ddd;
  /*min-width: 40px;*/
  width: auto;
  border-radius: 50px;
  padding: 10px;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  white-space: nowrap; /* Prevents text from wrapping */
  display: inline-block; /* Ensures inline alignment */
  text-align: center; /* Centers text horizontally */
}
/* CategoryBox */

/* CouponRegister */
.coupon-register {
  font-family: "Noto Sans KR", sans-serif;
  padding: 20px;
  max-width: 90%;
  margin: auto;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.header {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
}

.coupon-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.form-group input {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.category-group {
  display: flex;
  align-items: center;
}

.category-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-arrow {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.register-button {
  background-color: #FFD700;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
/* CouponRegister */

/* CouponViewer */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.top-section, .bottom-section {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.middle-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-image {
  width: 80%;
  height: 90%;
  border-radius: 8px;
  object-fit: cover;
}

.back-button, .fullscreen-button,
.download-button, .trash-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.share-button {
  background-color: #8B4513;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.complete-button {
  background-color: #FFD700;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
/* CouponViewer */

.verticalAlign {
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  gap: 20px; /* 버튼 사이 간격 */
  align-items: flex-start; /* 왼쪽 정렬 (필요에 따라 center로 변경 가능) */
}